/* Add this CSS to your project */
.h1-responsive {
  font-size: 40px; /* Default for mobile phones */
}

@media (min-width: 768px) {
  .h1-responsive {
    font-size: 70px; /* For tablets */
  }
}

@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 100px; /* For desktops */
  }

  .search-container-responsive {
    width: 545px; /* Reset for tablets and above */
    height: 50px; /* Reset for tablets and above */
    margin-bottom: 3rem;
  }

}

@media (min-width: 768px) {
  .p-responsive {
    font-size: 16px; /* For tablets */
  }
}

@media (min-width: 1200px) {
  .p-responsive {
    font-size: 19px; /* For desktops */
  }
}


@media (max-width: 768px) {
  .p-responsive {
    font-size: 20px; /* For tablets */
  }
}

 .search-container-responsive {
    width: 545px; /* Reset for tablets and above */
    height: 50px; /* Reset for tablets and above */
    margin-bottom: 3rem;
  }

