@media (max-width: 1264px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 431px) {
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
  }

  .container {
    padding: 0 !important; /* Ensure both padding-left and padding-right are 0 */
  }
}

/* Styles for the load more button */
.load-more-button-style {
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  color: white;
  background-color: #008c99;
  cursor: pointer;
  border-radius: 3.125rem;
  border: none;
  margin: 0 0 2.5rem;
  width: 11.25rem;
  height: 3.375rem;
  font-weight: 600;
}

.container-style {
  margin: 0 auto;
  max-width: 101rem;
  padding: 0 120px;
}
